.wavelength-news-wrapper .flex-grid {
	display: flex;
	flex-wrap: wrap;
}

.wavelength-news-wrapper .col {

	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 25%;
	flex-basis: 200px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
    padding: 10px;
}

.wavelength-news-wrapper{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 20px;
    padding: 20px;
    background: #f2f2f2;
    border: 1px solid #ddd;
    color: #828282;
    height: 100%;
}

.wavelength-news-wrapper h1, h2, h3, h4, h5{
    font-family: 'Arvo', serif;
    color: #595959;
}

.wavelength-news-wrapper h1{
    border-bottom: 5px solid #ddd;
}

.wavelength-news-wrapper h4{
    font-size: 18px;
    margin-bottom: 0px;
}

.wavelength-news-wrapper .img-wrapper-outer{
    padding-top:69%;
    height:0;
    position: relative;
}
.wavelength-news-wrapper .img-wrapper-inner {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
}
.wavelength-news-wrapper img {
    width: 100%;
    height: 100%;
}

.wavelength-news-wrapper a{ 
    color: inherit;
    text-decoration: none;
}


.wavelength-news-wrapper .col:hover{
    background-color: #fff;
}

.wavelength-news-wrapper .col{
-webkit-transition: background-color 200ms ease-out;
    -moz-transition: background-color 200ms ease-out;
    -o-transition: background-color 200ms ease-out;
    transition: background-color 200ms ease-out;
}

.wavelength-news-wrapper p{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.wavelength-news-wrapper .src img{
    width: 20px;
    height: auto;
    padding-top: 0;
    margin-right: 10px;
    padding-bottom: 10px;
}

.wavelength-news-wrapper i{
    position: absolute;
    margin-top: 2px;
}


